footer {
	background-color: #0d141a;


	a{
		color: #ffffff;
	}

	a:hover{
			text-decoration: none;
	}

	div{
		display:inline-block;
	}	

	fa-icon.ng-fa-icon {
	    color: #b9376c;	
		font-size: 20px;
		margin: 0 5px;
	}
}

