@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  /* You must define it here for Tailwind to generate the 'bg-card-bg' utility */
  --color-card-bg: rgba(255, 255, 255, 0.4);
  --color-card-border: rgba(255, 255, 255, 0.2);
  --color-table-bg: rgba(255, 255, 255, 0.4);
  --color-table-row-bg: rgba(255, 255, 255, 0.2);
  --color-nav-bg: rgba(255, 255, 255, 0.8);
  --color-nav-border: #f1f5f9;
  --bg-hero:
    radial-gradient(circle at 12% 10%, #5550ff 0%, transparent 40%),
    radial-gradient(circle at 80% 20%, #a855f7 0%, transparent 40%),
    radial-gradient(circle at 50% 80%, #c5ffff 0%, transparent 40%);
}
@layer base {
  :root {
    /* Light Mode Variables */
    --bg-primary: #f4f4f5;
    --bg-secondary: #f4f4f5; /* zinc-100 */
    --text-main: #18181b; /* zinc-900 */
    --text-secondary: #52525c; /* zinc-600 */
    --border-color: #e4e4e7; /* zinc-200 */
    --mesh-opacity: 0.4;
    color: #0043f6;
    --background: #f4f4f5;
    --foreground: #0f172a;

    /* Navbar Specific Styles */
    --nav-bg: rgba(255, 255, 255, 0.8);
    --nav-border: #f1f5f9;

    /* Card components */
    --color-background: #ffffff;
    --color-text-base: #09090b;
    --color-text-secondary: #71717a;

    --color-card-bg: rgba(255, 255, 255, 0.7);
    --color-card-border: rgba(0, 0, 0, 0.1); /* The gradient colors */
    --color-grad-from: #3b82f6;
    --color-grad-to: #8b5cf6;
  }

  .dark {
    /* Dark Mode Variables */
    --bg-primary: #111827; /* zinc-950 */
    --bg-secondary: #18181b; /* zinc-900 */
    --text-main: #d4d4d8; /* zinc-300 */
    --text-secondary: #9f9fa9; /* zinc-400 */
    --border-color: #27272a; /* zinc-800 */
    --mesh-opacity: 0.15;
    --background: #111827;
    --foreground: #fafafa;

    /* Navbar Specific Styles - maybe a deeper zinc or navy */
    --color-nav-bg: rgba(9, 9, 11, 0.8); /*zinc-950/80*/
    --color-nav-border: #18181b;

    /* card component */
    --color-card-bg: rgba(255, 255, 255, 0.03); /* Very thin white tint */
    --color-table-bg: rgba(255, 255, 255, 0.03); /* Very thin white tint */
    --color-table-row-bg: rgba(255, 255, 255, 0.02); /* Very thin white tint */

    --color-card-border: rgba(255, 255, 255, 0.08); /* Subtle 'edge' */
    --color-grad-from: #60a5fa;
    --color-grad-to: #a78bfa;
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
@keyframes drawLine {
  from {
    stroke-dashoffset: 400;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  animation: drawLine 2.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s forwards;
}

/* Card Footer Pill Style */
.card-footer .card-footer-content {
  display: flex;
  flex-wrap: wrap;
}

.card-footer .card-footer-content.fill > * {
  flex-grow: 1;
}

.card-footer .card-footer-content.fill > * {
  flex-grow: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
}

.icon-image-container {
  display: flex;
  justify-content: center;
  min-height: 30px;
  padding: 1rem;
}

.icon-wrapper {
  flex-direction: column;
  min-height: 100px;
  padding: 15px 10px;
  display: flex;
}

section {
  overflow-x: hidden;
}

.embla {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.embla__container {
  display: flex;
  height: 100%;
  position: relative;
  min-height: 200px;
}

.embla__slide {
  flex: 0 0 100%;
  height: 100%;
  position: relative;
}

.embla__viewport {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.embla__controls {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 5px;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0 0 0 5px;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.embla__dot:before,
.embla__dot:after {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot:before {
  border: 0.2rem solid var(--color-indigo-400);
}

.embla__dot:after {
  border: 0.2rem solid var(--color-cyan-400);
  opacity: 0;
}

.embla__dot--selected:after {
  opacity: 1;
  background-color: var(--color-cyan-400);
}
