<div class="content">
    <section id="profile">
      <div class="wrapper">
        <div class="jumbotron">
          <h3 class="text-right">Hello! I am a Quality Assurance Specialist / Developer</h3>
        </div>

        <div class="container">
        		<div>
        			<h1 class="wow fadeIn" data-wow-duration="0.4s">Renae Mariz A. Cariño</h1> 
        		</div>
        
        		<div class="wow fadeIn" data-wow-duration="0.4s">
        			<h3 class="title"> <fa-icon icon="address-card"></fa-icon>Profile</h3>
        			<span>
      				  A Quality Assurance/Developer that is dedicated from testing to participating on the development of an eLearning tool, websites, online courses and interactive applications and is currently looking for opportunities to grow more in the field of web development.
      			  </span>

            </div>
          </div>
        </div>
    </section>


    <div class="wrapper">      
      <section id="skills">
        <div class="wrapper">
      		<div class="container">
            <h3 class="title wow fadeIn" data-wow-duration="0.2s">  <fa-icon icon="code"></fa-icon>Development Skills </h3> 
            <div class="row">
              <div *ngFor="let dev of developments" class="col-4 col-md-6 col-lg-4 wow jackInTheBox" data-wow-delay="0.5s"  data-wow-duration="0.5s">
          		    {{ dev }}
              </div>
            </div>
          </div>

          <div class="container">
            <h3 class="title wow fadeIn" data-wow-duration="0.2s">  <fa-icon icon="tools"></fa-icon>Development Tools / Applications </h3>
            <div class="row">
              <div *ngFor="let tool of tools" class="col-4 col-md-6 col-lg-4 wow jackInTheBox" data-wow-duration="0.5s" data-wow-delay="0.2s">
                  {{ tool }}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="projects">
        <div class="container" data-wow-delay="0.5s">
            <h3 class="title wow fadeIn">  <fa-icon icon="tasks"></fa-icon>Projects involved </h3> 
             <div class="row">
              <div *ngFor="let project of projects" class="project-container col-sm-4 col-md-6 col-lg-4 wow jackInTheBox" data-wow-delay="0.2s">
                 <a href={{project.link}} target="_blank">
                <div>
                   {{ project.title }}
                </div>
                </a>
              </div>
            </div>
        </div>
      </section>

      <section id="experience">
        <div class="container">
          <h3 class="title wow fadeIn">  <fa-icon icon="layer-group"></fa-icon>Experiences </h3> 
            <div *ngFor="let exp of experiences" class="wow fadeIn" data-wow-delay="0.2s">
                <h4> {{ exp.company }} </h4>
                <span> {{ exp.position }} </span>
                <ul>
                  <li *ngFor="let role of exp.roles"> {{ role }}</li>
                </ul>
            </div>
        </div>
      </section>

      <section id="education">
        <div class="container">
          <h3 class="title wow fadeIn"> <fa-icon icon="university"></fa-icon>Educational Background</h3>
          <div class="wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.2s">
            <h4>Bachelor of Science in Information Technology </h4>
            <strong>AMA Computer College - Caloocan <br> </strong>
          </div>
        </div>          
      </section>
</div>
